@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: Rubik;
}

html {
    background-color: #fff9fa;
    color: #000000;
}


.profile {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 200px;
}

.experience {
    padding-left: 50px;
    padding-right: 50px;
}
.about{
    padding-left: 50px;
    padding-right: 50px;    
}

.contenedor-experience{
    display: flex;
}

.proyecto {
    align-items: center;
}

.proyecto img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-left: 200px;
}


footer {
    background-color: #F4ECED;
    text-align: center;
    padding: 20px;
}

.about {
    padding-left: 50px;
    padding-right: 50px;
}

