@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: Rubik;
    padding: 50px 100px 0px 100px;
}

html {
    background-color: #F4F4F4;
    color: #000000;
}


.profile {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 200px;
}

.experience {
    padding-left: 50px;
    padding-right: 50px;
}


.contenedor-experience{
    display: flex;
}

.proyecto {
    text-align: initial;
}
.proyecto h3 {
    text-align: initial;
}

.proyecto img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-left: 200px;
    display: block;
    margin: 0;
}

.skill {
    display: flex;
}

.skill h4 {
    margin-right: 20px;
}

footer {
    background-color: #F4ECED;
    text-align: center; 
    padding: 10px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }
  .rating span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating span:before {
    content: "\2605";
    position: absolute;
  }



